* {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/* flexbox */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* margins */

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

/* paddings */

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 50px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

/* header */

header {
  height: 70px;
  background-color: #3f4247;
}

.logo {
  color: #fff;
  font-size: 28px;
}

nav {
  margin: auto;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.nav-phone {
  color: #fff;
  margin: auto;
}

.nav-phone i {
  margin-right: 5px;
}

/* hero */

.hero {
  height: 100vh;
  position: relative;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.hero-txt {
  position: absolute;
  left: 25%;
  top: 35%;
  color: #fff;
}

.hero-txt h1 {
  font-size: 48px;
}

.hero-btn {
  margin-top: 20px;
}

.hero-btn a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid #fff;
  color: #fff;
}

/* card-list */

.services-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

.border-btm {
  border-bottom: 1px solid #3f4247;
}

.card-list {
  flex-wrap: wrap;
}

.card {
  width: 45%;
  margin: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-img {
  height: 300px;
}

.card-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.card-txt {
  box-sizing: border-box;
  padding: 0px 30px;
  margin-bottom: 20px;
  position: absolute;
  top: 70%;
  background-color: #fff;
}

.card-txt h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-button {
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #3f4247;
  width: fit-content;
}

.service-button a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

/* motivational */

.motivational {
  margin-top: 50px;
  height: 50vh;
  position: relative;
  background-image: url("../images/gray-texture.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.motivational h2 {
  margin-bottom: 50px;
}

.motivational-txt {
  color: #fff;
  width: 80%;
  text-align: center;
  position: absolute;
  top: 22%;
  left: 10%;
}

/* gallery card list */

.gallery-list {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ebebeb;
}

.gallery-card {
  width: 25%;
  margin: 10px;
}

.gallery-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

/* news card list */

.news-card-list {
  flex-wrap: wrap;
}

.news-card {
  width: calc(33% - 16px);
  margin: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.news-card-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-position: center;
}

.news-card-txt {
  box-sizing: border-box;
  padding: 0px 30px;
  margin-bottom: 20px;
  /* background-color: #fff; */
}

.news-card-txt h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.news-button {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #3f4247;
  width: fit-content;
}

.news-button a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

/* footer */

footer {
  background-color: #3f4247;
  color: #fff;
  line-height: 2rem;
}

.map {
  margin: 20px;
}

.work-hours ul li {
  list-style-type: none;
}

.work-hours ul {
  padding: 0;
}

.work-hours {
  margin: 20px;
}

.footer-nav {
  margin: 20px;
}

.footer-nav a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-nav a:hover {
  text-decoration: none;
  color: #fff;
}

.copy {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.copy a {
  text-decoration: none;
  color: #fff;
}

.border-btm-footer {
  border-bottom: 2px solid #fff;
}

.border-top-footer {
  border-top: 1px solid #fff;
}
